* {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

nav > a {
  padding: 8px;
  color: #000;
}

nav > ul > li {
  display: flex;
  list-style: none;
  border-right: 2px solid #000;
}

nav > a,
nav > ul > li > a {
  text-decoration: none;
  padding: 8px;
  color: #000;
  font-size: 18px;
}

nav > ul > li > a:active {
  color: #2e2eb1;
}

nav > ul > li > a:hover {
  color: #2e2eb1;
}

nav > ul {
  display: flex;
  gap: 5px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
}

h6 {
  position: absolute;
  right: 10px;
  margin: 5px 0 0;
  font-size: 16px;
}

footer {
  position: fixed;
  bottom: 10px;
  border: 2px solid #000;
  width: 98vw;
  margin: 0 auto;
}

footer > p {
  padding-left: 30px;
}

/* List section */
.books {
  display: none;
}

.books h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.bookList {
  border: 2px solid black;
}

.list {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  font-family: 'Nunito', sans-serif;
}

.list p {
  margin-left: 10px;
}

.list button {
  width: 70px;
  height: 30px;
  margin: 10px;
}

/* Form Section */
.form {
  display: none;
  font-size: 16px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

form > div {
  margin-top: 1em;
}

.main-form > div {
  margin: 12px;
}

.main-form input {
  width: 300px;
  height: 30px;
  border: 2px solid black;
}

.main-form h2 {
  text-align: center;
}

.main-form hr {
  width: 40%;
  height: 1px;
  background: black;
  margin-top: 30px;
}

.add-btn {
  display: flex;
  justify-content: flex-end;
}

/* Contact section */
.contact {
  display: none;
  flex-direction: column;
  margin: 3em 0;
}

.contact > h2 {
  font-size: 28px;
  padding-left: 10px;
  text-align: center;
}

.contact > p {
  font-size: 18px;
  display: flex;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.contact > ul {
  font-size: 18px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.active {
  display: block;
}

.test {
  color: red;
}
